/* css/main.css */

/* 1. Base */
@import url('./theme.css');
@import url('./style.css');
@import url('./layout.css');

/* 2. Componentes */
@import url('./components/Header.css');
@import url('./components/Sidebar.css');
@import url('./components/Footer.css'); /* <--- Adicionado aqui */
@import url('./components/ProfileCard.css');
@import url('./components/ProjectCard.css');
@import url('./components/Calendar.css');
@import url('./components/Pagination.css');
@import url('./components/Modal.css');
@import url('./components/FilterDrawer.css');